<!DOCTYPE html>
<html>

  <head>
    <title>Test</title>
    <link rel="stylesheet" href="blocks.css">
  </head>

  <body>
    <span class="blocks looks-and-sounds"> <span class="label">Set Size </span> <span class="numeric">50</span> </span>
    <br />
    <span class="blocks drawing"> <span class="label">Change Trail Width</span> <span class="numeric">50</span> </span>
    <br />

    <span class="blocks movement"> <span class="label">Move forward</span> <span class="numeric">50</span> </span>
    <br />
    <span class="blocks variables"> <span class="label">Set Value to</span> <span class="numeric">50</span> </span>
    <br />
    &emsp;<span class="blocks control-flow"> <span class="label">Wait milliseconds</span> <span class="numeric">50</span> </span>
    <br />
    <span class="blocks drawing"> <span class="label">End</span></span>
    <!--{% for block in blocks %}

      {% if block.type = %}

    {% end for %}-->


  </body>

</html>
